<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lobster+Two:ital,wght@1,700&display=swap"
        rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">



    <title>Movie Details</title>
    <style>
        body {
            background-image:url('https://removal.ai/wp-content/uploads/2021/09/black-background-04-coolbackgrounds.png');
            
            background-repeat:repeat-y; 
            background-size: cover;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #main_heading {
            font-size: 30px;
            font-family: 'Lobster Two', cursive;
            color:green;
        }

        #title {
            font-size: 30px;
            font-family: 'Bruno Ace SC', cursive;
            color:white
        }

        .heading1 {
            font-size: 30px;
            font-family: 'Lobster Two', cursive;
            color:green;
        }

        .heading2 {
            font-size: 30px;
            font-family: 'Rancho', cursive;
            color:white;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="flexitem"><img src='<%=image%>'></div>

        <div class="flexitem"><span id="main_heading">Title :&nbsp;&nbsp;</span><span id="title"><%=title%></span>
        </div><br>

        <div class="flexitem"><span class="heading1">Year :</span><span id="year" class="heading2"><%=year%></span></div>
        <br>

        <div class="flexitem"><span class="heading1">Released : </span><span id="release" class="heading2"><%=release%></span></div><br>

        <div class="flexitem"><span class="heading1">Runtime : </span><span id="runtime" class="heading2"><%=runtime%></span></div><br> 

        <div class="flexitem"><span class="heading1">Genre : </span><span id="genre" class="heading2"><%=genre%></span></div><br>

        <div class="flexitem"><span class="heading1">Director : </span><span id="director" class="heading2"><%=director%></span></div><br>

        <div class="flexitem"><span class="heading1">Writer : </span><span id="writer" class="heading2"><%=writer%></span></div><br>

        <div class="flexitem"><span class="heading1">Actors : </span><span id="actors" class="heading2"><%=actors%></span></div><br>

        <div class="flexitem"><span class="heading1">Plot : </span><span id="plot" class="heading2"><%=plot%>
        </span></div><br>

        <div class="flexitem"><span class="heading1">Language : </span><span id="language" class="heading2"><%=language%></span></div><br>

        <div class="flexitem"><span class="heading1">Country : </span><span id="country" class="heading2"><%=country%></span></div><br>

        <div class="flexitem"><span class="heading1">Awards : </span><span id="awards" class="heading2"><%=awards%></span></div><br>   

        <div class="flexitem"><span class="heading1">Ratings : </span><span id="ratings" class="heading2"><%=ratings%></span></div><br>

        <div class="flexitem"><span class="heading1">IMDb Ratings : </span><span id="imdb_ratings" class="heading2"><%=imdb_ratings%></span></div><br>  

        <div class="flexitem"><span class="heading1">Box Office : </span><span id="boxoffice" class="heading2"><%=boxoffice%></span></div><br>  
    </div>
    <script src="server.js"></script>
</body>

</html>